* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e2e2e2;
}

h1 {
  margin: 0;
  color: #fff;
  font-family: "Major Mono Display", monospace;
  font-size: 3.5rem;
  text-align: center;
  background-color: #ff5232;
  padding: 10px 0;
  width: 100%;
}

#category {
  display: block;
  margin: auto;
  font-size: 1rem;
  background-color: #999;
  border: none;
  border-bottom: 3px solid #555;
  padding: 10px 30px;
  border-radius: 10px;
  color: #fff;
}

#button_start{
  font-size: 2rem;
  padding: 10px;
  width:100px;
  font-weight: bold;
  margin:15px auto 0;
  border-radius: 10px;
  display: block;
  border: 1px solid #ff5232;
  border-bottom: 5px solid #ff5232;
  color: #ff5232;
  background-color: #fff;
}

#input_area {
  width: 80%;
  background-color: #fff;
  margin: 15px auto;
  padding: 2% 5%;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/*#input_area :after {
  content: "";
  display: block;
  border: 20px solid transparent;
  border-left: 20px solid #ff5232;
  position: absolute;
  top: -5%;
  right: -2%;
  transform: rotate(-45deg);
}*/

#input_area > * {
  display: block;
  margin-bottom: 10px;
}

#question {
  /*height: 40px;*/
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: #ff5232;
}

input {
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
  height:25px;
  border: 1px solid #aaa;
  font-size: 1.8rem;
  width: 100%;
}
/*-- multi inputs --*/
.flex_parent{
	display:flex;
	display:-webkit-flex;
	display:-moz-flex;
	justify-content:space-evenly;
  /*width:100%;*/
  flex-wrap: wrap;
}
.input_multi{
	width:48%;
	margin-bottom:2%;
  float:left;
}
.input_multi:nth-child(2n-1){
  margin-right:2.5%;
}
/*----*/

#button_submit {
  width:40%;
  float: right;
  border: none;
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 3px solid rgba(0,0,0,.3);
  color: #fff;
  background-color: #a26533;
}

#button_show_answer {
  width:40%;
  float: left;
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  border-bottom: 3px solid rgba(0,0,0,.3);
  color: #666;
}

#answer {
  padding: 10px;
  min-height: 30px;
  font-size: 1.8rem;
}

.answer_correct, .answer_wrong {
  font-size: 2rem !important;
  font-weight: bold;
  color: #aad812;
}

.answer_wrong {
  color: #d86212;
}

.button{
  display:block;
}

@media screen and (max-width:640px){
  .start_hide{
    display: none !important;    
  }
  .sp_none{
  display:none;
}
}

.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

.pre_small{
  font-size:70%;
}
